@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-size: 1.5rem;
    background-color: #ff0000;
    color:#fff;
    font-family: 'Press Start 2P', cursive;
}